.movieRow {
    margin-left: 20px;
    color: #fff;
}

.movieRow__posters {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
}

.movieRow__posters::-webkit-scrollbar{
    display: none;
}

.movieRow__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}

.movieRow__poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.movieRow__posterLarge {
    max-height: 250px;
}

.movieRow__posterLarge:hover {
    transform: scale(1.09);
}